extends layout

block content
	div(id="cover")
		div(id="poplayer")
	nav(class="navbar navbar-default navbar-static-top")
		div(class="container")
			div(class="navbar-header")
				p(class="navbar-brand" style="color:white;") 幻城版本系统
				p(class="navbar-text navbar-right" id='ver' style="color:white;") version: #{ver}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_advance_op" aria-expanded="false")
					span(class="sr-only") haha
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
			div
				ul(class="nav navbar-nav")
					li(class="dropdown")
						a(href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#dddddd") 高级功能
							b(class="caret")
						ul(class="dropdown-menu")
							li
								a(href="javascript:cleanHistoryBranch()") 清理过时分支
							li
								a(href="javascript:resetExecLog()") 清除操作日志
							li
								a(href="javascript:updateSelf()") 更新此发版系统
						

	div(class="container")
		ul(class="nav nav-tabs")
			li(role="presentation" class="active")
				a(data-toggle="tab" href="#divClient") 客户端
			li(role="presentation")
				a(data-toggle="tab" href="#divServer") 服务器
	br
	div(class="tab-content container")
		div(id="divClient" class="tab-pane fade in active")
			div(class='row')
				div(class="col-lg-2 col-md-3 col-sm-4" id='sideBar')
					div(class="label label-default" style="font-size: 1.1em;" title="本地分支（蓝色）可直接进行版本操作；远程分支（黄色）需要先检出为本地分支才能进行版本操作！") 分支列表
					div(class='btn-group btn-group-vertical',id='branchs')
						button(class='btn btn-small btn-danger') 加载中...
				div(class="col-lg-10 col-md-8 col-sm-6" id='contents')
					div(class="label label-danger" id="selectInfo" title="先选择一个本地分支（蓝色），才能进行版本操作") 请先在左侧选择一个要打版本的分支
					div(class="btn-group" id="btns")
						button(class='btn btn-success btn-small',id='pubLocal') 打测试版
						button(class='btn btn-warning btn-small',id='pubDist') 打发行版
						button(class='btn btn-danger btn-small',id='cleanBr') 清除该分支
					div(id="dash")
					div(class="modal fade",id="myModal",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
						div(class="modal-dialog")
							div(class="modal-content")
								div(class="modal-header")
									button(type="button",class="close",data-dismiss="modal",aria-hidden="true") &times;
									p 检出远程分支？
									h4(class="modal-title",id="myModalLabel") 
								div(class="modal-body" id="mBody") 
								div(class="modal-footer")
									button(type="button", class="btn btn-default",data-dismiss="modal") 取消
									button(type="button", id="btnCreateBr", class="btn btn-primary",onclick="createBranch()") 确认检出
					div(class="modal fade",id="verModal",tabindex="-1",role="dialog",aria-labelledby="verModalLb",aria-hidden="true")
						div(class="modal-dialog")
							div(class="modal-content")
								div(class="modal-header")
									button(type="button",class="close",data-dismiss="modal",aria-hidden="true") &times;
									p 编译发行版
									h4(class="modal-title",id="verModalLb") 
								div(class="modal-body" id="mBody")
									p 当前版本号为
										span(id="curVer")
										span ,请输入新的版本号：
										input(id="inputVer")
								div(class="modal-footer")
									button(type="button", class="btn btn-default",data-dismiss="modal") 取消
									button(type="button", id="btnDistBr", class="btn btn-primary",onclick="distBranch()") 编译发行版
		div(id="divServer" class="container tab-pane fade")
			p 服务器暂未接入版本系统
	nav(class="navbar navbar-inverse navbar-fixed-bottom")
		div(class="navbar-header" style="margin-left:15%;")
			p(class="navbar-text" style="color:white;") power by swellee &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			p(class="navbar-text" style="color:#eeeeee;") code:
				a(href="https://gitlab.com/swellee/hpub" style="color:white;") https://gitlab.com/swellee/hpub 