body {
	background-color: #f3ffff;
}

#selectInfo {
	font-size: 1.2em;
}
#btns {
	visibility:hidden;
	overflow: scroll;
}
.navbar-default{
	background-color: #316d9b;
}
.btn {
	min-width: 100px;
}
.tab-content {
	background-color: #F0F8FF;
}
.navbar-brand {
	font-size: 1.5em;
}
.navbar-inverse {
	background-color: #316d9b;
}
#dash {
	background: black;
	color: #aacc00;
	height: 660px;
	overflow: scroll;
}
