body {
	background-color: #fefefe;
}

.navbar-default {
	background-color: #F0F8FF;
}
#selectInfo {
	font-size: 1.2em;
}
#btns {
	visibility:hidden;
}

.btn {
	min-width: 100px;
}
#dash {
	background: black;
	color: #aacc00;
	min-height: 660px;
	overflow: scroll;
}
